pipeline/PL_main.json
{
	"name": "PL_main",
	"properties": {
		"activities": [
			{
				"name": "Metadata Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": "Select * from project_spotify.set_up.metadata_table;"
					},
					"dataset": {
						"referenceName": "DS_databricks_DL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Load Check",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().load_type,'full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Getting Max Timstamp Database",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n    'Select MAX(',\n        if(equals(item().table_name,'FactStream'), 'stream_timestamp', 'updated_at'),\n    ') as max_timestamp from ',\n    item().schema_name, '.', item().table_name\n)\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_azure_sql",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": {
														"value": "@item().schema_name",
														"type": "Expression"
													},
													"table_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Getting Watermark Time",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat(\n    'Select watermark_timestamp as watermark_time from project_spotify.set_up.metadata_table where table_name = ''',\n    item().table_name,\n    ''''\n)\n",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "DS_databricks_DL",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Copy Incremental Table",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Getting Watermark Time",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "Getting Max Timstamp Database",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "Giving Current Time Value",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n    'Select * from ',\n    item().schema_name, '.', item().table_name,\n    ' Where updated_at Between ''',\n    activity('Getting Max Timstamp Database').output.value[0].max_timestamp,\n    ''' and ''',\n    activity('Getting Watermark Time').output.value[0].watermark_time,\n    ''''\n)\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_azure_sql",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": {
														"value": "@item().schema_name",
														"type": "Expression"
													},
													"table_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"container_name": {
														"value": "@item().container_name",
														"type": "Expression"
													},
													"directory_name": {
														"value": "@item().directory_name",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Giving Current Time Value",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Current_time",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Giving Current Time",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Current_time",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy Full Load Table",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Giving Current Time",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_azure_sql",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": {
														"value": "@item().schema_name",
														"type": "Expression"
													},
													"table_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"container_name": {
														"value": "@item().container_name",
														"type": "Expression"
													},
													"directory_name": {
														"value": "@item().directory_name",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().file_name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"Current_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}