pipeline/PL_main.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Metadata Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": "Select * from project_spotify.set_up.metadata_table;"
					},
					"dataset": {
						"referenceName": "DS_databricks_DL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Load Check",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().load_type,'full')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Giving Current Time",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Current_time",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy Full Load Table",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Giving Current Time",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"Current_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}