ADFspotifyanshyogi/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFspotifyanshyogi"
		},
		"LS_azure_sql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_azure_sql'"
		},
		"LS_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saspotifyanshyogi.dfs.core.windows.net/"
		},
		"LS_azure_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "servspotifyanshyogi.database.windows.net"
		},
		"LS_azure_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dbspotifyanshyogi"
		},
		"LS_azure_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminyogi"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_adls_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_azure_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_azure_sql_properties_typeProperties_server')]",
					"database": "[parameters('LS_azure_sql_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_azure_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_azure_sql_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_databricks_DL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-1822620811431144.4.azuredatabricks.net",
					"clusterId": "1128-170248-a5njak66",
					"workspaceResourceId": "/subscriptions/1b5363a3-b83e-4df0-9129-11602cc00b4b/resourceGroups/RG-spotifyanshyogi/providers/Microsoft.Databricks/workspaces/adbspotifyanshyogi"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_adls_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_name": {
						"type": "string"
					},
					"directory_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().file_name, ' ', variables('Current_time'))",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container_name",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_azure_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azure_sql",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema_name": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azure_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_databricks_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_databricks_DL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_databricks_DL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Metadata Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDatabricksDeltaLakeSource",
								"query": "Select * from project_spotify.set_up.metadata_table;"
							},
							"dataset": {
								"referenceName": "DS_databricks_DL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Metadata Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Metadata Lookup').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Load Check",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().load_type,'full')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Getting Max Timstamp Database",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat(\n    'Select MAX(',\n        if(equals(item().table_name,'FactStream'), 'stream_timestamp', 'updated_at'),\n    ') as max_timestamp from ',\n    item().schema_name, '.', item().table_name\n)\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_azure_sql",
														"type": "DatasetReference",
														"parameters": {
															"schema_name": {
																"value": "@item().schema_name",
																"type": "Expression"
															},
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															}
														}
													},
													"firstRowOnly": false
												}
											},
											{
												"name": "Getting Watermark Time",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureDatabricksDeltaLakeSource",
														"query": {
															"value": "@concat(\n    'Select watermark_timestamp as watermark_time from project_spotify.set_up.metadata_table where table_name = ''',\n    item().table_name,\n    ''''\n)\n",
															"type": "Expression"
														}
													},
													"dataset": {
														"referenceName": "DS_databricks_DL",
														"type": "DatasetReference",
														"parameters": {}
													},
													"firstRowOnly": false
												}
											},
											{
												"name": "Copy Incremental Table",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Getting Watermark Time",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "Getting Max Timstamp Database",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "Giving Current Time Value",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat(\n    'Select * from ',\n    item().schema_name, '.', item().table_name,\n    ' Where ',\n        if(equals(item().table_name,'FactStream'), 'stream_timestamp', 'updated_at'),\n    ' Between ''',\n    activity('Getting Max Timstamp Database').output.value[0].max_timestamp,\n    ''' and ''',\n    activity('Getting Watermark Time').output.value[0].watermark_time,\n    ''''\n)\n\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_azure_sql",
														"type": "DatasetReference",
														"parameters": {
															"schema_name": {
																"value": "@item().schema_name",
																"type": "Expression"
															},
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_adls_parquet",
														"type": "DatasetReference",
														"parameters": {
															"container_name": {
																"value": "@item().container_name",
																"type": "Expression"
															},
															"directory_name": {
																"value": "@item().directory_name",
																"type": "Expression"
															},
															"file_name": {
																"value": "@item().table_name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Giving Current Time Value",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "Current_time",
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Giving Current Time",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "Current_time",
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Copy Full Load Table",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Giving Current Time",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_azure_sql",
														"type": "DatasetReference",
														"parameters": {
															"schema_name": {
																"value": "@item().schema_name",
																"type": "Expression"
															},
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_adls_parquet",
														"type": "DatasetReference",
														"parameters": {
															"container_name": {
																"value": "@item().container_name",
																"type": "Expression"
															},
															"directory_name": {
																"value": "@item().directory_name",
																"type": "Expression"
															},
															"file_name": {
																"value": "@item().file_name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Email Alert",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "Copy Full Load Table",
														"dependencyConditions": [
															"Succeeded",
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {},
													"url": "https://prod-26.ukwest.logic.azure.com:443/workflows/0b2b0877d5af4dc99ce8b6c3beacc7e1/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=Br0Za8FuBHNxhD4-yiXnAMhr8_3n9TF9DkXWGauDzo4",
													"body": {
														"value": "{\n    \"pipeline_name\": \"@pipeline().Pipeline\",\n    \"pipeline_runID\": \"@pipeline().RunId\"\n}\n",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Current_time": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_databricks_DL')]",
				"[concat(variables('factoryId'), '/datasets/DS_azure_sql')]",
				"[concat(variables('factoryId'), '/datasets/DS_adls_parquet')]"
			]
		}
	]
}